page-core-login-credentials {
    .content {
      /*  background: -webkit-radial-gradient(white, $gray-light);
        background: radial-gradient(white, $gray-light);*/
        background: $white;
    }

    img {
        max-width: 100%;
    }

    img.login-logo {
        width: 100%;
        max-width: 300px;
    }
    img.login-logo-parent{
        width: 20%;
        max-width: 300px;   
    }
    ion-slides.login-slides {
        height: 35%;
    }
    img.img-slides{
        width: 80%;
        max-width: 300px;   
    }
    p.slogan-text{
        font-size: 12px;
        margin-top:0px;
    }
    .box {

        padding: 16px;
        /*margin: 8px;*/
        background: $white;
        /*border: 1px solid $gray;*/
        height: 100%;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    .item-input {
        margin-bottom: 20px;
    }
}
